.container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.item {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
    gap: 8px;
  }
}